.forwho {
	display: flex;
	flex-direction: column;	
	justify-content: flex-start;
	width: 100%;
	height: 1000px;
	position: relative;
	margin-top: 20px;

	&__image {
		height: 60%;
		width: 100%;
		// z-index: 50;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);	
			z-index: 100;
			color: #fff;

			h2 {
				font-size: 4.5rem;
				font-weight: 500;
			}
			h3 {
				font-size: 2.5rem;
				font-weight: 400;
			}
		}

		img {
			margin-top: 170px;
			min-width: 100%;
			max-width: 100%;
			// height: auto;
			min-height: 100%;
			object-fit: cover;
			z-index: 10;
			// opacity: 0.8;
		}

		&-layout {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 101%;
			background: linear-gradient(to bottom, transparent, 90%, rgba(255, 255, 255, 0.432),rgba(255, 255, 255, 0.712),rgba(255, 255, 255, 0.959),  #fff);
			z-index: 50;
		}
	}

	&__article {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 40%;
		padding: 35px;
		margin-bottom: 1px;
		text-align: center;
		background-color: #fff;
		z-index: 100;
		font-size: 1.4rem;

		p {
			height: 100%;
		}
	}
}

@media screen and (min-width: 768px) {
	.forwho {
		flex-direction: row;
		height: 500px;

		&__image {
			width: 60%;
			height: 100%;

			img {
				margin-top: 0;
				border-top: 5px solid white;
			}

			&-layout {
				background: linear-gradient(to right, transparent, 90%, rgba(255, 255, 255, 0.432),rgba(255, 255, 255, 0.712),rgba(255, 255, 255, 0.959),  #fff);
			}
		}
		&__article {
			width: 40%;
			height: 100%;
			position: relative;
			margin-bottom: 0;
			margin-left: -2px;
		}
	}
}