.forwho {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// flex-direction: column;	
	// justify-content: flex-start;
	// width: 100%;
	height: 100vh;
	position: relative;
	// margin-top: 20px;
	scroll-snap-align: start;

	&__image {
		height: 50%;
		width: 100%;
		// z-index: 50;
		// object-fit: cover;
		overflow: hidden;
		// position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			height: 100%;
			min-width: 100%;
			object-fit: cover;
			z-index: 10;
			// transform: translateX(-250px);
			// transform: scale(0.6);
			// opacity: 0.8;
		}

		&-layout {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 101%;
			background: linear-gradient(to bottom, transparent, 90%, rgba(255, 255, 255, 0.432),rgba(255, 255, 255, 0.712),rgba(255, 255, 255, 0.959),  #fff);
			z-index: 50;
		}
	}

	&__title {
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translate(-50%, -50%);	
			z-index: 100;
			color: #fff;

			h2 {
				font-size: 4.5rem;
				font-weight: 500;
			}
			h3 {
				font-size: 2.5rem;
				font-weight: 400;
			}
	}

	&__article {
		position: absolute;
		bottom: 30%;
		left: 0;
		// height: 40%;
		padding: 35px;
		margin-bottom: 1px;
		text-align: center;
		// background-color: #fff;
		z-index: 100;
		font-size: 1.4rem;
		text-align: center;
		width: 100%;

		p {
			height: 100%;
		}
	}
}

@media screen and (min-width: 768px) {
	.forwho {

		&__image {
			height: 100%;

			// img {
			// 	margin-top: 0;
			// 	border-top: 5px solid white;
			// }

			&-layout {
				background: linear-gradient(to right, transparent, 90%, rgba(255, 255, 255, 0.432),rgba(255, 255, 255, 0.712),rgba(255, 255, 255, 0.959),  #fff);
			}
		}

		&__title {
			top: 20%;
		}


		&__article {
			bottom: 20%;
			color: white;
			// width: 40%;
			// height: 100%;
			// position: relative;
			// margin-bottom: 0;
			// margin-left: -2px;
		}
	}
}