@import "../../Sass/variables";

.title {

			color: #fff;
			font-weight: 700;
			font-family: The Nautigal;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
	z-index: 100;

		h2 {
				font-size: 6.5rem;
				width: fit-content;
			}
			h3 {
				font-size: 4.5rem;
				width: fit-content;
			}
}


@media screen and (min-width: 768px) {
	.title {
		border: 2px solid #fff;
		box-shadow: 5px 5px  15px rgba(0, 0, 0, 0.61);
			// border-radius: 10px;
			// transform: translateY(100px);
		background-color: #c5a69875;
		border-radius: 10px;
		backdrop-filter: blur(5px);
		padding: 15px;
		width: auto;
		color: $horse-dark;
	}
}