@import "../../Sass/variables";

.title {

	color: #fff;
	filter: drop-shadow(2px 2px 2px #432a19);
	font-weight: 700;
	font-family: The Nautigal;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;

		h2 {
			width: fit-content;
		}
		h3 {
			width: fit-content;
		}
}


@media screen and (min-width: 768px) {
	.title {
	}
}