@import "../../Sass/variables";

.contact {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// height: 100vh;
	z-index: 250;
	margin-top: 30px;
	margin-bottom: 100px;

	&__title {
		font-family: The Nautigal;
		
		h2 {
			font-size: 4rem;
		}
	}
	&__infos {
		font-family: Merienda;
		font-size: 1.2rem;
		width: 80%;
		color: $horse-dark;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;

		&-tel {
			color: $horse-normal;
			font-size: 2.5rem;
			margin-top: 10px;
			margin-bottom: 6px;
		}
	}

	&__place {
		font-family: The Nautigal;
		margin-bottom: 20px;
		margin-top: 20px;

		h2 {
			font-size: 4rem;
		}
	}
}

@media screen and (min-width: 410px) {
	.contact {
		margin-top: -20px;
	}
}

@media screen and (min-width: 768px) {

	.contact {

		&__title {

			// margin-top: 50px;

			h2 {
				font-size: 5.5rem;
			}
		}

		&__place {

			h2 {
				font-size: 5.5rem;
			}
		}

		&__content {
			margin-top: 30px;

			&-image {
				height: 350px;
			}
		}

	}
}

@media screen and (min-width: 1024px) {
	.contact {
		// flex-direction: row;
	}
}