.description {
	display: flex;
	height: 100vh;
	position: relative;
	scroll-snap-align: start;

	&__image {
		height: 50%;
		width: 100%;
		overflow: hidden;
		position: relative;

		img {
			min-width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 10;
		}

		&-layout {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 101%;
			z-index: 50;
		}
	}

	&__title {
			position: absolute;
			top: 38%;
			left: 50%;
			transform: translate(-50%, -50%);	
			z-index: 100;
			color: #fff;

			h2 {
				font-size: 2.5rem;
				font-weight: 500;
			}
			h3 {
				font-size: 2.5rem;
				font-weight: 400;
			}
	}

	&__article {
		position: absolute;
		bottom: 30%;
		left: 0;
		padding: 35px;
		margin-bottom: 1px;
		text-align: center;
		z-index: 100;
		font-size: 1.4rem;
		text-align: center;
		width: 100%;

		p {
			height: 100%;
		}
	}
}

@media screen and (min-width: 768px) {
	.description {

		&__image {
			height: 100%;
		}

		&__title {
			top: 20%;

			h2 {
				font-size: 4.5rem;
			}
		}


		&__article {
			bottom: 20%;
			color: white;
		}
	}
}