.footer {
	height: 200px;
	background-color: #fff;
		box-shadow: 0 10px 20px 10px #fff,
					0 -10px 20px 10px #fff
		;
	// position: absolute;
	// margin-top: 100px;
	// bottom: -100px;
	// flex: 1;

	&__logoDiv {
		height: 80%;

		&-logo {
			height: 100%;
		}
	}
	
}